.advantages {
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  color: $color-black;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__wrapper {
  padding: 55px 12px 39px 13px;

  @media (min-width: $tablet) {
    padding: 40px 32px 44px 32px;
  }

  @media (min-width: $desktop) {
    padding: 47px 52px 57px 53px;
  }
}

.advantages__wrapper--decor {
  @media (max-width: $mobile) {
    position: relative;
    padding-top: 65px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      min-width: 320px;
      height: 37px;
      background-image: url("../img/icon/white-copy.svg");
      background-repeat: no-repeat;
    }
  }
}

.advantages__item--white {
  position: relative;
  background-color: $color-blue;
  color: $color-white;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
  }
}

.advantages__item--fund {
  background-color: $color-bg-grey;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.advantages__wrapper--inner {
  padding: 25px 24px;

  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 42px;
  }
}

.advantages__wrapper--border {
  position: relative;

  &::after {
    @media (max-width: $mobile) {
      position: absolute;
      content: "";
      bottom: 0;
      left: calc(50% - 140px);
      width: 280px;
      height: 1px;
      background-color: $color-border;
    }
  }
}

.advantages-features {
  @media (max-width: $mobile) {
    text-align: left;
    padding-left: 70px;
    padding-right: 11px;
  }

  @media (min-width: $tablet) {
    display: flex;
  }
}

.advantages-features__wrapper {
  @media (min-width: $tablet) {
    padding-top: 123px;
    padding-bottom: 45px;
  }
}

.advantages-features--house {
  @media (min-width: $tablet) {
    padding-left: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 58px;
  }
}

.advantages-features--gift {
  @media (min-width: $tablet) {
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    padding-right: 78px;
  }
}

.advantages-features--burger {

  @media (max-width: $mobile) {
    padding-bottom: 35px;
  }

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 2;
  }
}

.advantages__title {
  margin-top: 0;

  @include title;

  @media (max-width: $mobile) {
    br {
      display: none;
    }
  }
}

.advantages__text {
  margin-bottom: 0;
}

.advantages__description {
  margin: 0;
}

.advantages__text,
.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__subtitle {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 26px;
  text-align: center;

  @include title;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -50px;
    width: 40px;
    height: 37px;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      top: -96px;
      left: calc(50% - 38px);
      width: 76px;
      height: 72px;
      background-size: contain;
    }
  }
}

.advantages__subtitle--house::before {
  background-image: url("../img/icon/icon-house.svg");
}

.advantages__subtitle--gift::before {
  background-image: url("../img/icon/icon-gift.svg");
}

.advantages__subtitle--burger::before {
  background-image: url("../img/icon/icon-burger.svg");
}

.advantages__picture {
  @media (min-width: $tablet) {
    grid-column: 2 / -1;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 100%;

  @media (min-width: $tablet) {
    max-width: 512px;
    max-height: 256px;
  }

  @media (min-width: $desktop) {
    min-width: 800px;
    grid-column: span 2;
  }
}

.advantages__picture--order {
  @media (min-width: $tablet) {
    grid-column: 1 / 3;
    order: -1;
  }
}
