.button {
  display: inline-block;
  min-width: 240px;
  color: $color-white;
  background-color: $color-blue;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
