.gallery-content {
  padding-top: 20px;
  padding-bottom: 86px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-top: 43px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 94px;
  }
}

.gallery-content__title {
  @include title;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.gallery-content__text {
  @include fz-400;
  padding: 0 25px;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    padding-bottom: 55px;
  }
}

.gallery-video {
  position: relative;

  @media (min-width: $tablet) {
    max-height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }
}

.gallery-video__image {
  display: block;
  min-width: 100%;
  min-height: 100%;

  @media (min-width: $tablet) {
    max-height: 500px;
  }

  @media (min-width: $desktop) {
    height: 500px;
  }
}

.panel__controls {
  position: absolute;
  margin: 0 auto;
  left: 20px;
  bottom: 0;
  padding-top: 22px;
  width: 280px;
  height: 45px;
  background-color: rgba($color-black, 0.6);

  @media (min-width: $tablet) {
    padding-top: 45px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 93px;
  }
}

.panel__scale {
  position: relative;
  margin-left: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba($color-white, 0.2);

  @media (min-width: $tablet) {
    margin-left: 93px;
    width: 489px;
  }

  @media (min-width: $desktop) {
    width: 540px;
  }
}

.panel__toggle {
  position: absolute;
  top: -5px;
  left: 35px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
}

.panel__button {
  position: absolute;
  left: 20px;
  bottom: -66px;
  width: 280px;
  height: 66px;
  background-color: $color-lightgrey;

  @media (min-width: $tablet) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 93px;
    background-color: transparent;
  }
}

.control-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover path,
  &:focus path {
    fill: $button-hover;
  }
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop) {
    &:hover path,
    &:focus path {
      fill-opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
}

.panel__button--replay {
  position: absolute;
  top: 22px;
  left: 25px;

  @media (min-width: $tablet) {
    top: 35px;
    left: 35px;

    & path {
      fill: $color-white;
    }
  }
}

.panel__button--subtitles {
  position: absolute;
  top: 23px;
  right: 74px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    top: 36px;
    right: 92px;

    & path {
      fill: $color-white;
    }
  }
}

.panel__button--fullscreen {
  position: absolute;
  top: 23px;
  right: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    top: 36px;
    right: 41px;

    & path {
      fill: $color-white;
    }
  }
}
