.hotel-search__content {
  padding-top: 17px;
  padding-bottom: 49px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-top: 41px;
    padding-bottom: 58px;
  }
}

.hotel-search__title {
  @media (min-width: $tablet) {
    margin-bottom: 25px;
  }
}

.hotel-search__text {
  margin-bottom: 27px;
  line-height: 24px;

  @media (max-width: $mobile) {
    br {
      display: none;
    }
  }
}

.hotel-search__link {
  @include title;
  padding: 17px 32px;
}

.hotel-search__map {
  position: relative;
}

.hotel-search__map::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../img/icon/map-marker.svg");
}
