.main-nav {
  position: relative;
  padding-bottom: 56px;
  text-transform: uppercase;
  width: 100%;
  min-height: 56px;
  background-color: $color-white;
  border-bottom: 1px solid $color-black;

  @media (min-width: $tablet) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.main-nav__logo {
  position: absolute;
  left: calc(50% - 51px);
  bottom: -28px;
  height: 84px;
  z-index: 1;

  @media (min-width: $tablet) {
    top: 0;
  }

  @media (min-width: $desktop) {
    left: calc(50% - 93px);
    width: 186px;
    height: 96px;
  }
}

.main-nav__logo img {
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  width: 23px;
  height: 22px;
  bottom: 17px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__toggle:hover {
  opacity: 0.6;
}

.main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon/open-menu.svg");
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  right: 16px;
}

.main-nav--opened .main-nav__toggle::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon/close-menu.svg");
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $color-blue;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $color-white;
  }
}

@media (max-width: $tablet) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__item {
    display: block;
  }
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 26px;
    width: 20%;
  }
}

@media (min-width: $tablet) {
  .main-nav__item:nth-child(3) {
    margin-left: 20%;
  }
}

.main-nav__link {
  display: block;
  color: $color-white;
  text-decoration: none;
  border: none;
  cursor: pointer;

  @media (max-width: $mobile) {
    padding-top: 10px;
    padding-bottom: 6px;
    border-top: 1px solid rgba($color-white, 0.2);
    border-bottom: 1px solid rgba($color-black, 0.2);

    &:hover {
      background-color: $blue-hover;
    }

    &:active {
      background-color: $blue-down;
      color: rgba($color-white, 0.2);
    }
  }

  @media (min-width: $tablet) {
    padding-top: 16px;
    padding-bottom: 14px;
    border: none;
    color: $color-black;

    &:hover {
      color: $color-blue;
      background-color: $color-white;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.active {
  @media (min-width: $tablet) {
    color: $color-active;

    &:hover {
      color: $active-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
