.page-header {
  position: relative;
  padding-bottom: 360px;
  background-image: url('../img/promo-mobile.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: $color-white;
}

.page-header::before {
  position: absolute;
  content: "";
  width: 282px;
  height: 214px;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../img/icon/promo-sedona.svg");
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  top: 0;
  height: 84px;

  @media (min-width: $desktop) {
    height: 96px;
  }
}
