.page-footer {
  padding-top: 17px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding-top: 36px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 10px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.content__text {
  @include title;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 35px;
  list-style: none;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.social__item {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $color-blue;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
  }
}

.social__link::before {
  content: "";
  width: 18px;
  height: 18px;

  &:active::before {
    opacity: 0.3;
  }
}

.social__link--twitter {
  background-image: url(../img/icon/icon-twitter.svg);
}

.social__link--facebook {
  background-image: url(../img/icon/icon-facebook.svg);
}

.social__link--youtube {
  background-image: url(../img/icon/icon-youtube.svg);
}

.copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__link {
  margin-left: 10px;

  &:hover path {
    fill: $color-blue;
  }

  &:active path {
    fill-opacity: 0.3;
  }
}
