.page-header {
  background-color: $color-white;
}

.page-header__promo {
  position: relative;
  max-width: 518px;
  min-height: 389px;
  background-color: $color-bg-promo;
}

.page-header__promo::before {
  position: absolute;
  content: "";
  width: 282px;
  height: 214px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../img/icon/promo-sedona.svg");
}

.page-header__image {
  display: block;
  object-fit: cover;
  width: 100%;

  @media (min-width: $mobile) {
    max-height: 389px;
  }
}
